<h1 class="heading">Styleguide</h1>

<!-- Body -->
@@include('src/app/blocks/body/guide/body.html')
@@include('src/app/blocks/wrapper/guide/wrapper.html')

<!-- Typography -->
@@include('src/app/blocks/typo/guide/typo.html')
@@include('src/app/blocks/heading/guide/heading.html')
@@include('src/app/blocks/text/guide/text.html')
@@include('src/app/blocks/link/guide/link.html')

<!-- Grid -->
@@include('src/app/blocks/grid/guide/grid.html')
@@include('src/app/blocks/blocks/guide/blocks.html')

<!-- Form elements -->
@@include('src/app/blocks/form/guide/form.html')
@@include('src/app/blocks/label/guide/label.html')
@@include('src/app/blocks/input/guide/input.html')
@@include('src/app/blocks/checkbox/guide/checkbox.html')
@@include('src/app/blocks/radio/guide/radio.html')
@@include('src/app/blocks/select/guide/select.html')
@@include('src/app/blocks/textarea/guide/textarea.html')
@@include('src/app/blocks/btn/guide/btn.html')

<!-- Other elements -->
@@include('src/app/blocks/img/guide/img.html')
@@include('src/app/blocks/table/guide/table.html')

@@include('src/app/blocks/validation/guide/validation.html')

@@include('src/app/blocks/jquery/guide/jquery.html')
